#navbar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    /*flex-direction: row;*/
    /*grid-gap: 10px;*/
}

.nav-link, .nav-active{
    border:3px aliceblue;
    text-align: center;
    /*border-radius: 5px;*/
}
.nav-link {
    background-color: #eeeeee;
    border-style: outset;
}

a {
    text-decoration-line: none;
    color: black;
}

.nav-active {
    border-style: inset;
    background-color: #d6d6d6;
}