.dial-btn {
    user-select: none;
    color: black;
    width: 100%;
    height: 100%;
    border: 4px #c2c2c2 outset;
}

.dial-btn:active {
    border: 4px #c2c2c2 inset;
}

.dial-btn-single {
    /*width: 100%;*/
    /*height: 100%;*/

}

.dial-btn-triple {
    grid-column-start: 1;
    grid-column-end: 4;
    /*width: 100%;*/
    /*height: 100%;*/
}